@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow-x: hidden;
}

.chat {
    height: calc(100vh - 130px);
}

.myMsg {
    @apply !min-w-[2px]
}

.rce-mbox-text::after {
    content: "" !important;
}

.myMsg .rce-mbox {
    @apply !px-[9px] !py-[3px] !bg-white !max-w-[40%] !w-auto
}

.rce-mbox-right-notch {
    @apply !hidden
}

@media screen and (min-width:640px) {
    .chat {
        height: calc(100vh - 56px);
    }
}

.shadow-x {
    box-shadow: 1px 1px .5rem rgba(0, 0, 0, .4);
}

.chat-scroll::-webkit-scrollbar {
    width: 0;
}

/* .rce-mbox.rce-mbox-right,
.rce-mbox.left {
    margin: 1px 20px 1px 5px !important;
} */

.ant-btn {
    height: 2.5rem !important;
    background: none !important;
    border: none !important;
}

.loader {
    width: 68px;
    height: 68px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 3px;
    @apply bg-blue-900;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.loader::before {
    left: auto;
    top: auto;
    right: 0px;
    bottom: 5px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.swiper {
    margin: 100px auto;
    width: 320px;
    height: 440px;
}

/* .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
} */
/* 
.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
} */