@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
    overflow-x: hidden;
} */

.shadow-x {
    box-shadow: 1px 1px .5rem rgba(0, 0, 0, .4);
}

.chat-scroll::-webkit-scrollbar {
    width: 0;
}

.loader {
    width: 68px;
    height: 68px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 3px;
    @apply bg-blue-900;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.loader::before {
    left: auto;
    top: auto;
    right: 0px;
    bottom: 5px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}